<html>
<head>
<meta charset="utf-8">
    <title>Gardino's Store Locator</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

  </head>
  <body>

<iframe src="https://www.google.com/maps/d/embed?mid=zp2oYcPvTXkU.k61npY47fDhU" width="740" height="580"></iframe>

  </body>
</html>
